<div class="container">
  <h1>Update User</h1>

  <a href="#" routerLink="/users/" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
          <label for="firstName">First Name:</label>
          <input
              formControlName="firstName"
              id="firstName"
              type="text"
              [(ngModel)]="currentUser.firstName"
              class="form-control">
          <div *ngIf="f.firstName.touched && f.firstName.invalid" class="alert alert-danger">
          </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input
            formControlName="lastName"
            id="lastName"
            type="text"
            [(ngModel)]="currentUser.lastName"
            class="form-control">
        <div *ngIf="f.lastName.touched && f.lastName.invalid" class="alert alert-danger">

        </div>
      </div>

      <div class="form-group">
        <label for="cedula">cedula:</label>
        <input
            formControlName="cedula"
            id="cedula"
            type="text"
            [(ngModel)]="currentUser.cedula"
            class="form-control">
        <div *ngIf="f.cedula.touched && f.cedula.invalid" class="alert alert-danger">

        </div>
      </div>

      <div class="form-group">
        <label for="email">email:</label>
        <input
            formControlName="email"
            id="email"
            type="text"
            [(ngModel)]="currentUser.email"
            class="form-control">
        <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">phoneNumber:</label>
        <input
            formControlName="phoneNumber"
            id="phoneNumber"
            type="text"
            [(ngModel)]="currentUser.phoneNumber"
            class="form-control">
        <div *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid" class="alert alert-danger">
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
  </form>
</div>
