<div class="inner-wrapper">
  <button type="button" (click)="gotoMain()" class="btn btn-danger">Back</button>
  <h1>Create New User</h1>
  <form [formGroup]="form" (ngSubmit)="saveUser()" #resetForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- First Name -->
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Ex. Sergio" [formControl]="firstName" formControlName="firstName">
          <mat-error *ngIf="handleError('firstName', 'required')">
            You must provide a <strong>First name</strong>
          </mat-error>
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Ex. Perez" [formControl]="lastName" formControlName="lastName">
          <mat-error *ngIf="handleError('lastName', 'required')">
            You must provide a <strong>Last name</strong>
          </mat-error>
        </mat-form-field>

         <!-- Cedula -->
         <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Cedula</mat-label>
          <input input type="number" matInput placeholder="Ex. 1032467023" [formControl]="cedula" formControlName="cedula">
          <mat-error *ngIf="handleError('cedula', 'required')">
            You must provide a <strong>Cedula </strong>
          </mat-error>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. user@example.com" [formControl]="email" formControlName="email">
          <mat-error *ngIf="handleError('email', 'required')">
            You must provide a <strong>Email </strong>
          </mat-error>
        </mat-form-field>

        <!-- Phone Number -->
        <mat-form-field class="example-full-width" appearance="standard">
          <mat-label>Phone Number</mat-label>
          <input input type="number" matInput placeholder="Ex. 3043627927" [formControl]="phoneNumber" formControlName="phoneNumber">
          <mat-error *ngIf="handleError('phoneNumber','required')">
            You must provide a <strong>Phone number </strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Create</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>

